<%= form_for(@img_word) do |f| %>
  <% if @img_word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@img_word.errors.count, "error") %> prohibited this img_word from being saved:</h2>

      <ul>
      <% @img_word.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :word %><br>
    <%= f.text_field :word %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :img %><br>
    <%= f.text_field :img %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
