<p id="notice"><%= notice %></p>

<h1>Listing Img Words</h1>

<table>
  <thead>
    <tr>
      <th>Word</th>
      <th>Description</th>
      <th>Img</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @img_words.each do |img_word| %>
      <tr>
        <td><%= img_word.word %></td>
        <td><%= img_word.description %></td>
        <td><%= img_word.img %></td>
        <td><%= link_to 'Show', img_word %></td>
        <td><%= link_to 'Edit', edit_img_word_path(img_word) %></td>
        <td><%= link_to 'Destroy', img_word, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Img word', new_img_word_path %>
